* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: SVN-Helvetica Now, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
    /* width: 100%; */
}

.content {
    /* width: 100% !important; */
    margin: 0 104px;
}
.content-top {
    margin-top: 30px;
    display: flex;
    /* gap: 20px; */
    text-align: center;
    justify-content: center;
    margin: 38px 104px 0 104px;

}

.content-top a {
    text-decoration: none;
    color: #5A5A5A;
}

.content-top-menu {
    display: inline-block;
    cursor: pointer;
    width:8.66%;
    text-align: center;
    padding-bottom: 1%;
    position: relative;
}

.content-top-menu.underline::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80%;
    height: 3px;
    background-color: #9E2B47;
    transform: translateX(-50%);
}

.content-top-menu img {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-bottom: 16px;
}

.content-betwent {
    margin: 0 104px;
    display: none;

}



.content-betwent.active {
    display: block;
    /* Tab hiện tại sẽ hiển thị */
}



.content-top-menu svg {
    transition: stroke 0.3s ease;
    margin-bottom: 10.5%;
    /* Hiệu ứng chuyển màu mượt */
}

.content-top-menu.active svg path {
    stroke: #9E2B47;
    /* Màu đỏ khi được click */
}

.content-top-menu div {
    color: #5A5A5A;
    font-size: 14px;
    font-weight: 500;
}

.content-top-menu.active div {
    color: #9E2B47;
}

.hrrr {
    margin: 0 104px;
    /* width: 100%; */
    height: 1px;
    background-color: #ECECEC;
    margin-bottom: 57px;
}


.turn-page {
    
    display: flex;
    justify-content: center; /* Căn giữa các phần tử con theo chiều ngang */
    align-items: center; /* Căn giữa các phần tử con theo chiều dọc nếu cần */
    flex-wrap: wrap; /* Nếu cần thiết, cho phép các phần tử con xuống dòng */
    margin: 30px auto 50px auto; /* Tự động căn giữa phần tử cha (nếu cần) */
  }
  
.turn-page a{
    font-size: 18px;
    font-weight: 500;
}
.stt {
    color: #333;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    /* border: 1px solid black; */
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s; /* Thêm hiệu ứng chuyển màu nền và chuyển động */
}

/* Khi hover */
.stt:hover {
    background-color: #AF0B35;  /* Thay đổi màu nền khi hover */
    /* transform: scale(1.1);        Phóng to phần tử khi hover */
}

/* Khi active (nhấn vào) */
.stt:active {
    background-color: #ddd;       /* Màu nền khi phần tử đang được nhấn */
    transform: scale(0.9);         /* Thu nhỏ phần tử khi active */
}

/* Khi phần tử có lớp 'active' thì giữ màu nền khi được nhấn */
.stt.active {
    background-color: #AF0B35; /* Màu nền khi thẻ đã được nhấn và giữ lại */
    color: white;            /* Màu chữ khi active */
}

