@import url(common.css);
.home-header-slim {
    width: 100%;
    display: flex;
    padding: 14px 5%;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #AF0B35 0%, #8F1030 86%);
}

.home-header-slim-left {
    display: flex;
    gap: 24px;
    align-items: center;
}

.home-header-slim-tab {
    display: flex;
}

.home-header-slim-tab span,
.home-header-slim-hotline {
    padding: 9px 10px;
}

.home-header-slim-right {
    display: flex;
    gap: 18px;
    align-items: center;
}

.home-header-slim-button {
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 4px;
    background: var(--white, #FFF);
    border: #FFF;
}

.home-header-slim-line {
    height: 36px;
}

.home-header-slim-mobile {
    position: absolute;
    width: 100%;
}



.home-header-slim {
    padding: 10px 5%;
}

.home-header-slim .nk-menu-main .nk-menu-item .nk-menu-toggle:after {
    position: fixed;
}
.home-header-slim-tab {
    display: block;
}

.home-tab-heading-slim {
    display: none !important;
}
@media (max-width:1552px) {
 .home-header-slim {
        padding: 0px 5%;
    }

 .home-header-slim .home-header-slim-tab {
        display: none;
    }

 .home-header-slim .home-tab-heading-slim {
        display: block !important;
    }
}

@media (max-width:1552px) {
    .blog .home-header-slim {
        padding: 0px 5%;
    }

    .blog .home-header-slim .home-header-slim-tab {
        display: none;
    }

    .blog .home-header-slim .home-tab-heading-slim {
        display: block !important;
    }
}
@media (max-width:1473px) {
    .about .home-header-slim {
        padding: 0px 5%;
    }

    .about .home-header-slim .home-header-slim-tab {
        display: none;
    }

    .about .home-header-slim .home-tab-heading-slim {
        display: block !important;
    }
}


 /* background white */
 .header-slim-white-mobile {
    position: static;
 }

 .header-slim-white-pc {
    background: none !important;
    background-color: #FFF;
 }

 .header-slim-white-pc .nk-menu-item .nk-menu-toggle span,.header-slim-white-pc .home-header-slim-tab a span {
    color: rgba(0, 0, 0, 0.80);
 }

 .header-slim-white-pc .home-header-slim-line {
    background-color: #F2F2F2;
 }

 .header-slim-white-pc .nk-menu-item a em {
    color: #080808;
 }

 .header-slim-white-pc .nk-menu-item a.color-hover-w:hover, .header-slim-white-pc .nk-menu-item .color-hover-w:hover span, .header-slim-white-pc .nk-menu-item .color-hover-w:hover p {
    color: #080808;
 }

 .header-slim-white-pc .home-header-slim-right .home-header-slim-button {
    background-color: #7D0926;
 }

 .header-slim-white-pc .home-header-slim-right .home-header-slim-button span, .header-slim-white-pc .home-header-slim-right .home-header-slim-button em {
    color: #FFF;
 }

 .header-slim-white-pc .home-header-slim-right .dropdown-menu {
    min-width: max-content;
 }

 .header-slim-white-pc .home-header-slim-hotline {
    color: #080808;
 }

 .header-slim-white-pc .home-header-slim-hotline span {
    opacity: 0.9;
    color: rgba(0, 0, 0, 0.60);
 }

 .header-slim-white-pc a.color-hover-w:hover, .header-slim-white-pc .color-hover-w:hover span, .header-slim-white-pc .color-hover-w:hover p {
    color: #080808;
 }
 @media (max-width: 992px) {
    .header-slim-white-mobile .header-mobile {
        background: none !important;
        background-color: #FFF;
    }

    .header-slim-white-mobile .header-mobile .header-mobile-menu em {
        color: #7D0926;
    }

    .header-slim-white-mobile .header-mobile .home-vision-header-button  {
        background-color: #7D0926;
    }

    .header-slim-white-mobile .header-mobile .home-vision-header-button span, .header-slim-white-mobile .header-mobile .home-vision-header-button em {
        color: #FFF;
    }

    .header-slim-white-mobile .header-mobile .header-mobile-menu .line-v {
        background: #F2F2F2;
    }

    .header-slim-white-mobile .header-mobile .nk-quick-nav-icon:before {
        background-color: #F2F2F2;
    }
 }
 
 .mobile .header-mobile-menu .nk-quick-nav-icon {
    border-right: 1px solid #F2F2F2;
 }

 @media (min-width: 1552.1px) {
    .home-header-slim .nk-menu-main>li.nk-menu-item>.nk-menu-link {
        padding: 0;
    }
}

.header-white {
    .top-menu {
        background: #FFF;
    }

    .top-menu  ul.ruby-menu>li>a {
        color: #080808;
    }

    .top-menu a span, .top-menu .hot-line a, .top-menu .hot-line a span {
        color: #080808;
    }

    .top-menu .home-vision-header-button {
        background-color: #AF0B35;
    }

    .top-menu .home-vision-header-button span {
        color: #fff;
    }

    .top-menu .home-vision-header-button em {
        color: #fff;
    }

    .top-menu .nk-menu-sub .nk-menu-link {
        width: initial;
        border-top: 1px solid;
    }
}

@media (max-width: 992px) {
    .header-white .header-mobile {
        background: #FFF !important;
        border-bottom: 1px solid #F2F2F2 !important;
    }

    .header-white .header-mobile-menu a em {
        color: #af0b35;
    }

    .header-white .home-vision-header-button {
        background-color: #7D0926;
    }
}