@import url(common.css);

.main-info {
    position: relative;
    height: 573px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: url(../assets/images/background-title-blog.png) no-repeat center;
    background-size: cover;
    padding: 40px 5%;
}

.main-info-s {
    position: relative;
}

.main-info::before {
    filter: brightness(0.85);
}

.main-info-img-background {
    height: auto;
    width: 100%;
    
}

.main-info-img-background img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.main-info-content {
    position: absolute;
    top: 0;
    padding: 40px 5%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    padding-bottom: 87px;
}

.main-info-title-sub {
    display: flex;
    gap: 6px;
    align-items: center;
}

.main-info-title-content {
    display: flex;
    flex-direction: column;
    gap: 33px;
}

.main-info-title-content-text {
    display: flex;
    flex-direction: column;
}


.button-main-info {
    display: flex;
    height: 52px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: var(--red-3, #C33C5E);
    border: none;
    width: fit-content;
    padding: 16px 40px;
}

.main-info-2 {
    height: auto;
}

.main-info-2 .main-info-title-content-button-2 {
    display: flex;
    gap: 13px;
    flex-direction: row;
}

.main-info-2 .main-info-button-search {
    width: 100%;
    display: flex;
    flex-direction: row;
    background: #fff;
    border-radius: 6px;
}

.main-info-2 .main-info-button-list-search {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-info-button-list-search .main-info-button-search-input {
    border: none;
}

.main-info-2 .main-info-content {
    justify-content: center;
    align-items: center;
    position: unset;
    padding-top: 34px;
    padding-bottom: 15px;
}

.main-info-2 .main-info-title-content {
    gap: 46px;
}

.main-info-2 .main-info-title-content-text {
    align-items: center;
}

.main-info-2 .main-info-title-content {
    width: 100%;
}

.product-detail .main-info-s .main-info-content {
    padding-bottom: 54px;
}

.main-info-2 .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: rgba(0, 0, 0, 0.70);
}

.main-info-2 .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: rgba(0, 0, 0, 0.70);
}

.main-info-2 input.main-info-button-search-input::placeholder {
    color: rgba(0, 0, 0, 0.70);
}

@media (max-width: 993.1px) {
     .main-info-img-background {
        min-height: 354px;
        display: grid;
    }
    .recruitment-program .tab-content {
        margin: 0px;
    }
    .recruitment-program .card + .card {
        margin-top: 0px;
    }
    .recruitment-program .tab-content > .active {
        display: block;
        padding: 0px !important;
    }
    .recruitment-program .accordion-head {
        padding: 1rem 0rem !important;
    }
    .recruitment-program .accordion-inner {
        padding: 1rem 0rem 1.25rem;
    }
    .main-info-s .main-info-content {
        padding-top: 18px;
        padding-bottom: 37px !important;
        padding-left: 18px;
    }
}

@media (min-width: 768px) {
    .main-info-2 .main-info-content {
        min-width: 290px;
    }
}

@media (max-width: 768px) {
    .main-info-2 {
        padding: 0 5%;
    }

    .main-info-2 .main-info-content {
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 40px;
        padding-top: 18px;
        gap: 130px;
    }

    .main-info-2 .main-info-title-content-text {
        align-items: flex-start;
    }

    .main-info-2 .main-info-title-content {
        gap: 12px;
    }

    .main-info-s .main-info-title-content-text span br {
        display: none;
    }

    .main-info-s .main-info-content .main-info-title-content {
        gap: 9px;
    }

    .main-info-s .main-info-content {
        padding-top: 18px;
        padding-bottom: 37px !important;
    }

    .main-info-2 .main-info-title-sub,
    .main-info-2 input.main-info-button-search-input::placeholder,
    .main-info-2 .select2-container--default .select2-selection--single .select2-selection__rendered,
    .main-info-2 .select2-container--default .select2-selection--single .select2-selection__placeholder {
        font-size: 13px;
    }
}

.product-detail .main-info-s .main-info-title-sub {
    display: block;
}

