@import url(common.css);
/* viet file common */
.disclosure-title-section {
    height: 573px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: url("../images/27/istockphoto-1168013916-2048x2048-topaz-sharpen-enhance-2.1x\ 1.svg")
        no-repeat center;
    background-size: cover;
    padding: 40px 5%;
}

.content-top-menu.underline::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80%;
    height: 3px;
    background-color: #9e2b47;
    transform: translateX(-50%);
}

.disclosure .content-top .content-top-menu.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80%;
    height: 3px;
    background-color: #9e2b47;
    transform: translateX(-50%);
}

.background-white {
    background: #fff;
}
.content-top-menu:hover div {
    color: #af0b35;
}
.content-top-menu:hover svg path {
    stroke: #af0b35;
}
.disclosure .content-top-menu img {
    width: 100%;
    height: 100%;
}
.button-login-red {
    padding: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 4px;
    background: var(--red-1);
    border: var(--red-1);
}
.disclosure .content-top-menu.underline::before {
    display: none;
}
.disclosure .image-cate {
    position: relative;
}
.disclosure .title-cate {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    bottom: 32px;
    left: 37px;
}
.slick-dots li button {
    background-color: #8094ae;
}
.slick-dots li.slick-active button {
    background-color: #af0b35;
}

.disclosure .home-vision-header-button {
    background: var(--red-1);
}

.disclosure .disclosure-agri-notification-containers {
    display: flex;
    justify-content: space-between;
}

.disclosure .home-vision-header-button a {
    gap: 6px;
    display: flex;
    align-items: center;
}

.disclosure .disclosure-agri-notification a {
    display: flex;
    gap: 8px;
    align-items: center;
}

.disclosure .disclosure-agri-notification {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.disclosure .disclosure-agri-notification-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.disclosure .disclosure-agri-notification-right {
    border-left: 1px solid #f2f2f2;
}
/* end common */
.social-network,
.agri-notification-section {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    width: 100%;
    height: 100%;
    padding: 20px 5%;
}
.social-network-center {
    width: 100%;
    background: #f2f2f2;
    display: flex;
    border-radius: 4px;
    align-items: center;
    justify-content: space-between;
    gap: 27px;
}

.social-network-text {
    max-width: 366px;
    text-align: left;
}

.icon-social-network {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 16px;
}

.icon-social-network-item {
    height: 63px;
    display: flex;
    border-radius: 4px;
    background: var(--red-1, #af0b35);
    justify-content: center;
    align-items: center;
    padding: 11px 18px;
    aspect-ratio: 1;
}

.disclosure-title-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

.disclosure-title-sub {
    display: flex;
    gap: 6px;
    align-items: center;
}

.disclosure-title-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.disclosure-title-main-content {
    padding: 0px 5%;
}

.background-center {
    display: flex;
    justify-content: center;
}

.disclosure-top-news-item {
    overflow: hidden;
    justify-content: center;
}
.disclosure-top-news-item-title {
    width: 50%;
    bottom: 38px;
    margin-left: 31px;
    position: absolute;
    display: flex;
    gap: 12px;
    flex-direction: column;
}
.disclosure-top-news-item-slide {
    position: relative;
}
.slick-dots li button {
    height: 2px;
    width: 42px;
}
.content-betwent {
    margin-top: 58px;
}
.content-betwent-title {
    flex-wrap: wrap;
    display: flex;
    /* gap: 16px; */
}

.content-betwent-subtitle {
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow: hidden;
    border-radius: 4px;
}
.content-betwent-subtitle a {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.content-betwent-subtitle img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    transition: transform 0.3s ease;
}

.cate {
    color: #494949;
}
.subtitle {
    color: #393939;
}
.notification-slide,
.tab {
    padding: 0 5.5%;
}
.turn-page {
    display: flex;
    justify-content: center;

    align-items: center;

    flex-wrap: wrap;

    margin: 30px auto 91px auto;
}

.stt {
    color: #333;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;

    border-radius: 4px;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s;
}

.disclosure .home-header-slim {
    background: #ffffff !important;
}

.disclosure .top-menu-right .hot-line span {
    color: rgba(0, 0, 0, 0.6);
}
.nk-menu-main .nk-menu-item .nk-menu-toggle:after {
    display: none;
}
.disclosure .home-header-slim-button {
    background: #af0b35;
}
.disclosure .home-header-slim-line {
    background: #f2f2f2;
}
.disclosure .top-menu-right .hot-line a {
    color: #000;
}
/* .stt:active {
    background-color: #ffffff;
   
    border: 1px solid #AF0B35;
    color: #333;
    
} */
.notification-slide-new-title span {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.notification {
    text-align: center;
}
.notification-slide-new-title {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.see-more a {
    display: flex;
    justify-content: center;
    gap: 8px;
}
.mobi {
    display: none;
}
.owl-center.owl-carousel .owl-nav,
.owl-center.owl-carousel .owl-dots {
    bottom: calc(100% + 130px);
}
.content-betwent-subtitle a div {
}

.active-stt {
    background-color: #af0b35;
    color: #fff;
}

.title {
    position: absolute;
    bottom: 31px;
    left: 31px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.disclosure-top-news .title {
    bottom: 0;
    left: 0;
    border-radius: 0px 0px 4px 4px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
    padding-left: 31px;
    padding-bottom: 31px;
    padding-top: 68px;
    width: 100%;
}
.content-pic {
    display: flex;
    width: 95%;
    padding: 48px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    position: absolute;
}
.title-pic-content {
    color: #fff;

    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 32.5px */
    letter-spacing: -0.25px;
}
.pic-content {
    color: rgba(255, 255, 255, 0.8);

    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
    letter-spacing: 0.15px;
}

.btn-information {
    display: inline-flex;
    height: 44px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--red-21, #aa1d40);
    width: 20%;
    position: absolute;
    bottom: 42px;
    left: 10%;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}
.recuitment-block:hover > .btn-information {
    opacity: 1 !important;
}

.title-buttom {
    color: #fff;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
    letter-spacing: 0.28px;
}
.disclosure .item-disclosure {
    min-width: 48%;
}
.item-disclosure span.col-10 {
    width: 50%;
}
.disclosure span#select2-ir90-container, span#select2-hgcn-container, 
span#select2-jsyb-container {
    color: rgba(0, 0, 0, 0.7);

    /* Desktop/Body/14 */
    font-family: "BT Grotesk Medium";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 15.4px */
}
@media (max-width: 1200px) and (min-width: 991.98px) {
    .advantage-card-asked-questions-selects .heading-h8 {
        font-size: 14px;
    }
}
@media (max-width: 992px) {
    .disclosure .disclosure-agri-notification-containers {
        gap: 20px;
    }

    .disclosure .disclosure-agri-notification br {
        display: none;
    }

    .disclosure .disclosure-agri-notification-right {
        border-left: none;
        border-top: 1px solid #f2f2f2;
    }

    .disclosure .disclosure-agri-notification {
        gap: 15px;
    }

    .disclosure .disclosure-agri-notification-content {
        padding: 0;
    }
}

@media (max-width: 768px) {
    .nk-menu-heading {
        padding: 14px;
        color: #af0b35;
    }
    .select2-container--default
        .select2-selection--single
        .select2-selection__rendered {
        padding-left: 0;
    }
    .select2-container--default .select2-selection--single {
        border: none;
        border-bottom: 1px solid #dbdfea;
        border-radius: 0;
    }
    /* .select2-container--default
        .select2-selection--single
        .select2-selection__rendered {
        color: #af0b35;
    } */
    .select2-results__options {
        color: rgba(0, 0, 0, 0.7);
        padding-left: 0;
    }
    .select2-dropdown {
        border: none;
        padding-left: 0;
    }

    .select2-results__option {
        padding-left: 0%;
    }

    .disclosure-title-section {
        height: 450px;
    }

    .social-network-center {
        flex-direction: column;
    }
    .social-network-text {
        text-align: center;
    }
}
@media (max-width: 375px) {
    .disclosure-title-section {
        height: 375px;
    }

    .owl-center.owl-carousel .owl-nav,
    .owl-center.owl-carousel .owl-dots {
    }
    .destop {
        display: none;
    }
    .mobi {
        display: flex;
    }
    .w-content {
        max-width: 80% !important;
    }
    .disclosure .icon-l {
        margin-top: 30px !important;
    }
}
